<% provide(:title, "About") %>
<span><%= link_to "Home", root_path %></span>
<span><%= link_to "Help", static_pages_help_path%></span>
<h1>About this site</h1>
<p>A Ruby on Rails application created during internship at ZigexN VENTURA</p>
